.bodyClass{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/425/1002/504/dawn-coffee-morning-cup-wallpaper-preview.jpg");
    background-size: cover;
}

.MainBanner{
    padding: 50px 0; 
    width: 50vw;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 100px;
}

.boxDiv{
    height: 450px;
    width: 500px;   
    margin-left: auto;
    margin-right: auto;
    border: 7px solid black;
    border-radius: 8px;
    background-color: rgb(240, 245, 247);
    overflow: auto;
}

.mainListInput{
    height: 25px;
    width: 70%;
    margin-left: 4px;
    border: 3px solid black;
    border-radius: 5px;
}
.updateInput{
    height: 25px;
    width: 70%;
    margin-left: 4px;
    border: 3px solid black;
    border-radius: 5px;
}

.fingerCursor{
 cursor: pointer;
 font-size: 25px;
 font-family:Georgia,'Times New Roman', Times, serif, Helvetica, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.crumb {
	margin-right: 2em;
	display: inline; 
}

a {
	color: rgb(15, 17, 15);
    font-size: 50px;
}

a:visited {
	color: rgb(16, 18, 16);
}

img {
	max-width: 500px;
}
.profileBody{
    /* background: rgb(24, 21, 21); */
    margin: 1rem;
    padding: 1rem;
    max-width: 400px;
    margin-right: 20rem;
    margin: 2rem auto;
    font-family: "Open Sans", sans-serif;
    background-image: url("https://img.freepik.com/free-photo/cozy-desktop-with-coffee-laptop_23-2147833250.jpg?w=2000");
    background-size: cover;
}
.profileBtns{
    font-size: medium;
}